<!DOCTYPE html>
<html lang="en">
<head>
    <title>Real-Time 3D WiFi Data with Babylon.js</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
        body { margin: 0; overflow: hidden; }
        canvas { width: 100%; height: 100%; display: block; }
        #data-container {
            white-space: pre-wrap;
            font-family: monospace;
            display: none; /* Nasconde il JSON grezzo */
        }
        #tooltip {
            position: absolute;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            border-radius: 5px;
            pointer-events: none;
            display: none;
            z-index: 1000;
        }
        #header {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #f8f8f8;
            border-bottom: 1px solid #ccc;
        }
        #header h1 {
            margin: 0;
            font-size: 1.5rem;
        }
        #header .btn {
            margin-left: auto;
        }

    </style>
</head>

<body>
<div id="header" class="d-flex align-items-center">
    <h1>WifiBall - 3D Viewer</h1>
    <button id="toggle-sidebar-ap" class="btn btn-secondary ms-3">Show AP List</button>
    <button id="hide-ap" class="btn btn-success ms-3">Hide APs</button>
    <button id="toggle-sidebar-station" class="btn btn-secondary ms-3">Show Stations List</button>
    <button id="hide-station" class="btn btn-success ms-3">Hide Stations</button>
</div>

<div id="data-container"></div>
<div id="tooltip"></div>

<div id="sidebar-ap" style="display:none; position: absolute; right: 0; top: 0; width: 250px; height: 100%; background-color: #f8f8f8; border-left: 1px solid #ccc; overflow-y: auto;">
    <h3 class="p-3">Access Points</h3>
    <ul id="ap-list" style="list-style-type: none; padding: 0;"></ul>
</div>

<div id="sidebar-station" style="display:none; position: absolute; right: 0; top: 0; width: 250px; height: 100%; background-color: #f8f8f8; border-left: 1px solid #ccc; overflow-y: auto;">
    <h3 class="p-3">Not Associated Stations</h3>
    <ul id="station-list" style="list-style-type: none; padding: 0;"></ul>
</div>


<!-- Modale per mostrare i dettagli dell'AP -->
<div class="modal fade" id="apModal" tabindex="-1" aria-labelledby="apModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl"> <!-- Aggiunta la classe modal-xl -->
        <div class="modal-content" style="height: 80vh;"> <!-- Altezza della modale -->
            <div class="modal-header">
                <h5 class="modal-title" id="apModalLabel">AP Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="apDetailsForm" class="row">
                    <!-- Dettagli AP -->
                    <div class="col-md-6 mb-3">
                        <label for="apEssid" class="form-label">ESSID</label>
                        <input type="text" class="form-control" id="apEssid" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="apBssid" class="form-label">BSSID</label>
                        <input type="text" class="form-control" id="apBssid" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="apLastSeen" class="form-label">Last Seen</label>
                        <input type="text" class="form-control" id="apLastSeen" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="apChannel" class="form-label">Channel</label>
                        <input type="text" class="form-control" id="apChannel" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="apPrivacy" class="form-label">Privacy</label>
                        <input type="text" class="form-control" id="apPrivacy" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="apCipher" class="form-label">Cipher</label>
                        <input type="text" class="form-control" id="apCipher" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="apAuthentication" class="form-label">Authentication</label>
                        <input type="text" class="form-control" id="apAuthentication" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="apPower" class="form-label">Power</label>
                        <input type="text" class="form-control" id="apPower" readonly>
                    </div>
                    <h5>Associated Stations</h5>
                    <div style="max-height: 300px; overflow-y: auto;">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Station MAC</th>
                                <th>First Time Seen</th>
                                <th>Last Time Seen</th>
                                <th>Power</th>
                                <th>Packets</th>
                                <th>BSSID</th>
                                <th>Probed ESSIDs</th>
                            </tr>
                            </thead>
                            <tbody id="stationTableBody">
                            <!-- Righe delle stazioni associate verranno aggiunte qui dinamicamente -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modale per mostrare i dettagli della stazione non associata -->
<div class="modal fade" id="stationModal" tabindex="-1" aria-labelledby="stationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="height: 80vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="stationModalLabel">Station Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="stationDetailsForm" class="row">
                    <!-- Dettagli Station -->
                    <div class="col-md-6 mb-3">
                        <label for="stationMac" class="form-label">Station MAC</label>
                        <input type="text" class="form-control" id="stationMac" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="stationFirstSeen" class="form-label">First Time Seen</label>
                        <input type="text" class="form-control" id="stationFirstSeen" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="stationLastSeen" class="form-label">Last Time Seen</label>
                        <input type="text" class="form-control" id="stationLastSeen" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="stationPower" class="form-label">Power</label>
                        <input type="text" class="form-control" id="stationPower" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="stationPackets" class="form-label">Packets</label>
                        <input type="text" class="form-control" id="stationPackets" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="stationBssid" class="form-label">BSSID</label>
                        <input type="text" class="form-control" id="stationBssid" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="stationProbedEssids" class="form-label">Probed ESSIDs</label>
                        <input type="text" class="form-control" id="stationProbedEssids" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/babylon.js"></script>
<script src="/js/babylon_loaders.js"></script>
<script src="/js/babylon_gridmaterial.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>

<script>

    //use 192.168.1.... instead of localhost if you are accessing the web page from another pc in lan
    let webSocketEndpoint = `ws://localhost:[[${port}]][[${webSocketEndpoint}]]`;

    let canvas, engine, scene, camera, ground;
    let referenceSphere, arrowMesh;
    let selectedSphere = null;
    let marker = null;

    const highPow = -55;
    const midPow =  -70;

    let apVisible = true;  // Stato di visibilità degli AP
    let stationVisible = true;  // Stato di visibilità delle stations

    const wifiSpheres = {};
    const stationSpheres = {};// Mappa per tenere traccia delle sfere esistenti

    function createTooltip() {
        const tooltip = document.getElementById('tooltip');
        tooltip.style.position = 'absolute';
        tooltip.style.padding = '5px';
        tooltip.style.backgroundColor = 'rgba(0, 0, 0, 0.7)';
        tooltip.style.color = '#fff';
        tooltip.style.borderRadius = '5px';
        tooltip.style.pointerEvents = 'none';
        tooltip.style.display = 'none';
        document.body.appendChild(tooltip);
        return tooltip;
    }

    function init() {
        // Get the canvas element
        canvas = document.createElement("canvas");
        canvas.style.width = '100%';
        canvas.style.height = '100%';
        canvas.style.display = 'block';
        document.body.appendChild(canvas);

        // Generate the Babylon.js engine and scene
        engine = new BABYLON.Engine(canvas, true);
        scene = new BABYLON.Scene(engine);

        // Create an ArcRotateCamera, and set its position to the center of the scene
        camera = new BABYLON.ArcRotateCamera("camera", Math.PI / 2, Math.PI / 4, 100, BABYLON.Vector3.Zero(), scene);
        camera.attachControl(canvas, true);
        camera.wheelDeltaPercentage = 0.01; // Imposta la sensibilità dello zoom

        // Enable panning and zooming
        camera.panningSensibility = 1000;
        camera.lowerRadiusLimit = 2; // Limite minimo di zoom

        // Add lights to the scene
        const light1 = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(0, 1, 0), scene);
        light1.intensity = 0.7;

        const light2 = new BABYLON.DirectionalLight("light2", new BABYLON.Vector3(0, -1, 1), scene);
        light2.intensity = 0.5;

        // Set background color to sky blue
        scene.clearColor = new BABYLON.Color3(0.5, 0.8, 1);

        // Create ground plane with a grid material
        ground = BABYLON.MeshBuilder.CreateGround("ground", {width: 1000, height: 1000}, scene);

        // Crea un materiale personalizzato per il piano con una griglia
        const gridMaterial = new BABYLON.GridMaterial("gridMaterial", scene);
        gridMaterial.gridRatio = 10; // Dimensione delle celle della griglia
        gridMaterial.majorUnitFrequency = 1; // Frequenza delle linee principali
        gridMaterial.minorUnitVisibility = 0.45; // Visibilità delle linee minori
        gridMaterial.gridOffset = new BABYLON.Vector3(0, 0, 0); // Spostamento della griglia
        gridMaterial.backFaceCulling = false; // Rende la griglia visibile su entrambi i lati
        gridMaterial.mainColor = new BABYLON.Color3(0.3, 0.3, 0.3); // Colore principale della griglia
        gridMaterial.lineColor = new BABYLON.Color3(1, 1, 1); // Colore delle linee della griglia
        gridMaterial.opacity = 0.5; // Imposta la trasparenza

        ground.material = gridMaterial;

        // Add a yellow reference sphere at the center
        referenceSphere = BABYLON.MeshBuilder.CreateSphere("referenceSphere", {diameter: 3}, scene);
        const referenceMaterial = new BABYLON.StandardMaterial("referenceMaterial", scene);
        referenceMaterial.diffuseColor = new BABYLON.Color3(0, 0, 0); // Giallo
        referenceSphere.material = referenceMaterial;
        referenceSphere.position = new BABYLON.Vector3(0, 0, 0);

        // Create an arrow to represent the orientation (Yaw and Pitch) of the reference sphere
        const arrow = BABYLON.MeshBuilder.CreateCylinder("arrow", {diameterTop: 0, diameterBottom: 2, height: 10}, scene);

        const arrowMaterial = new BABYLON.StandardMaterial("arrowMaterial", scene);
        arrowMaterial.diffuseColor = new BABYLON.Color3(1, 0, 1); // magenta
        arrow.material = arrowMaterial

        arrow.parent = referenceSphere;
        arrow.position = new BABYLON.Vector3(0, 2.5, 0);
        arrow.rotation.x = 0; // Inizialmente parallela al piano
        arrowMesh = arrow;

        // Crea il segnalino sopra la sfera selezionata (una freccia o un altro oggetto)
        marker = BABYLON.MeshBuilder.CreateCylinder("marker", { diameterTop: 1, diameterBottom: 0, height: 3 }, scene);
        const markerMaterial = new BABYLON.StandardMaterial("markerMaterial", scene);
        markerMaterial.diffuseColor = new BABYLON.Color3(0, 0, 0); // Verde chiaro
        marker.material = markerMaterial;
        marker.setEnabled(false); // Nascondi il segnalino fino a quando non è necessario

        // Start the render loop
        engine.runRenderLoop(() => {
            scene.render();
        });

        // Handle window resizing
        window.addEventListener("resize", () => {
            engine.resize();
        });

        // Create the tooltip
        createTooltip();
    }

    function calculateDistanceFromPower(power) {
        // Mappa la potenza (dBm) su una distanza. Più negativa è la potenza, maggiore è la distanza.
        const minDistance = 5;
        const maxDistance = 100;
        return BABYLON.Scalar.Lerp(maxDistance, minDistance, (power + 100) / 80); // Normalizza il valore tra 0 e 1
    }

    function calculatePositionFromGyroAndPower(distance, arrowMesh) {
        const pitchRadians = arrowMesh.rotation.x + Math.PI / 2; // Pitch
        const yawRadians = arrowMesh.rotation.y; // Yaw

        // Invertiamo la direzione per proiettare dalla parte frontale della freccia
        const x = -distance * Math.cos(pitchRadians) * Math.sin(yawRadians);
        const y = distance * Math.sin(pitchRadians); // Muovere verso l'alto quando la freccia punta in alto
        const z = -distance * Math.cos(pitchRadians) * Math.cos(yawRadians);

        return new BABYLON.Vector3(x, y, z);
    }


    function updateReferenceSphereOrientation(gyroData) {
        // Normalizza l'angolo di yaw da -180 a 180 a un angolo tra 0 e 360 gradi
        let yaw = gyroData.axisZ;
        if (yaw < 0) {
            yaw = 360 + yaw;
        }

        // Converti in radianti e applica la rotazione
        const yawRadians = BABYLON.Tools.ToRadians(yaw);
        const pitchRadians = BABYLON.Tools.ToRadians(gyroData.axisX);

        // Applica le rotazioni
        arrowMesh.rotation.y = yawRadians; // Rotazione per Yaw (Z axis)

        // Inverti la rotazione per il pitch per correggere il comportamento
        arrowMesh.rotation.x = -pitchRadians - Math.PI / 2; // Inversione del pitch
    }

    function updateScene(frontEndData) {
        const wifiDataMap = frontEndData.wifiDataMap;
        const notAssociatedStationDataMap = frontEndData.notAssociatedStationDataMap;

        // Aggiorna l'orientamento della sfera di riferimento in base ai dati più recenti del giroscopio
        updateReferenceSphereOrientation(frontEndData.gyroData);

        for (const [bssid, apData] of Object.entries(wifiDataMap)) {
            const power = apData.highestPower;
            const distance = calculateDistanceFromPower(power);

            // Passa l'orientamento corrente della freccia (arrowMesh) alla funzione di calcolo della posizione
            const position = calculatePositionFromGyroAndPower(distance, arrowMesh);

            // Verifica se la sfera esiste già e confronta la potenza
            if (wifiSpheres[bssid]) {
                if (power > wifiSpheres[bssid].currentPower) {
                    // Rimuovi la sfera esistente solo se la nuova potenza è maggiore
                    wifiSpheres[bssid].dispose();
                    delete wifiSpheres[bssid];
                } else {
                    // Se la potenza non è maggiore, salta al prossimo access point
                    continue;
                }
            }

            // Crea una nuova sfera
            const wifiSphere = BABYLON.MeshBuilder.CreateSphere("sphere", {diameter: 2}, scene);
            const material = new BABYLON.StandardMaterial("material", scene);

            // Imposta il colore della sfera in base alla potenza del segnale
            if (power >= highPow) {
                material.diffuseColor = new BABYLON.Color3(0, 1, 0); // verde
            } else if (power >= midPow) {
                material.diffuseColor = new BABYLON.Color3(1, 1, 0); // Giallo
            } else {
                material.diffuseColor = new BABYLON.Color3(1, 0.5, 0); // Arancione
            }

            wifiSphere.material = material;
            wifiSpheres[bssid] = wifiSphere;
            wifiSpheres[bssid].currentPower = power;  // Memorizza la potenza corrente

            // Posiziona la nuova sfera basata sulla posizione della freccia
            wifiSphere.position = position.add(referenceSphere.position);

            // Aggiungi ActionManager per gestire mouseover e mouseout
            wifiSphere.actionManager = new BABYLON.ActionManager(scene);
            wifiSphere.actionManager.registerAction(new BABYLON.ExecuteCodeAction(
                BABYLON.ActionManager.OnPointerOverTrigger,
                function (evt) {
                    const tooltip = document.getElementById('tooltip');
                    tooltip.innerHTML = `
                    <strong>Type:</strong> Access Point<br>
                    <strong>ESSID:</strong> ${apData.accessPoint.essid}<br>
                    <strong>BSSID:</strong> ${apData.accessPoint.bssid}<br>
                    <strong>Last Seen:</strong> ${apData.accessPoint.lastTimeSeen}<br>
                    <strong>Channel:</strong> ${apData.accessPoint.channel}<br>
                    <strong>Privacy:</strong> ${apData.accessPoint.privacy}<br>
                    <strong>Cipher:</strong> ${apData.accessPoint.cipher}<br>
                    <strong>Authentication:</strong> ${apData.accessPoint.authentication}<br>
                    <strong>Power:</strong> ${apData.accessPoint.power}<br>
                `;
                    tooltip.style.display = 'block';
                }
            ));

            wifiSphere.actionManager.registerAction(new BABYLON.ExecuteCodeAction(
                BABYLON.ActionManager.OnPointerOutTrigger,
                function (evt) {
                    const tooltip = document.getElementById('tooltip');
                    tooltip.style.display = 'none';
                }
            ));

            if (!apVisible) {
                wifiSphere.setEnabled(false);
            }

            console.log(`Sfera disegnata - ESSID: ${apData.accessPoint.essid}, BSSID: ${apData.accessPoint.bssid}, Posizione: (${wifiSphere.position.x}, ${wifiSphere.position.y}, ${wifiSphere.position.z})`);
        }

        // Gestisci le stazioni non associate
        for (const [stationMac, stationData] of Object.entries(notAssociatedStationDataMap)) {
            const power = stationData.highestPower;
            const distance = calculateDistanceFromPower(power);

            // Passa l'orientamento corrente della freccia (arrowMesh) alla funzione di calcolo della posizione
            const position = calculatePositionFromGyroAndPower(distance, arrowMesh);

            // Verifica se la sfera esiste già e confronta la potenza
            if (stationSpheres[stationMac]) {
                if (power > stationSpheres[stationMac].currentPower) {
                    // Rimuovi la sfera esistente solo se la nuova potenza è maggiore
                    stationSpheres[stationMac].dispose();
                    delete stationSpheres[stationMac];
                } else {
                    // Se la potenza non è maggiore, salta alla prossima stazione
                    continue;
                }
            }

            // Crea una nuova sfera per la stazione non associata
            const stationSphere = BABYLON.MeshBuilder.CreateSphere("stationSphere", {diameter: 1.5}, scene);
            const material = new BABYLON.StandardMaterial("material", scene);

            // Imposta il colore della sfera in base alla potenza del segnale
            if (power >= highPow) {
                material.diffuseColor = new BABYLON.Color3(1, 0, 0); // rosso
            } else if (power >= midPow) {
                material.diffuseColor = new BABYLON.Color3(1, 0.5, 0); // Arancione
            } else {
                material.diffuseColor = new BABYLON.Color3(0.5, 0.5, 0.5); // Grigio
            }

            stationSphere.material = material;
            stationSpheres[stationMac] = stationSphere;
            stationSpheres[stationMac].currentPower = power;  // Memorizza la potenza corrente

            // Posiziona la nuova sfera basata sulla posizione della freccia
            stationSphere.position = position.add(referenceSphere.position);

            // Aggiungi ActionManager per gestire mouseover e mouseout
            stationSphere.actionManager = new BABYLON.ActionManager(scene);
            stationSphere.actionManager.registerAction(new BABYLON.ExecuteCodeAction(
                BABYLON.ActionManager.OnPointerOverTrigger,
                function (evt) {
                    const tooltip = document.getElementById('tooltip');
                    tooltip.innerHTML = `
                            <strong>Type:</strong> Not Associated Station<br>
                            <strong>BSSID:</strong> ${stationData.station.stationMac}<br>
                            <strong>First Time Seen:</strong> ${stationData.station.firstTimeSeen}<br>
                            <strong>Last Seen:</strong> ${stationData.station.lastTimeSeen}<br>
                            <strong>Power:</strong> ${stationData.station.power} dBm<br>
                            <strong>Packets:</strong> ${stationData.station.packets}<br>
                            <strong>BSSID:</strong> ${stationData.station.bssid}<br>
                            <strong>Probed ESSIDs:</strong> ${stationData.station.probedEssids || 'N/A'}<br>
                    `;
                    tooltip.style.display = 'block';
                }
            ));

            stationSphere.actionManager.registerAction(new BABYLON.ExecuteCodeAction(
                BABYLON.ActionManager.OnPointerOutTrigger,
                function (evt) {
                    const tooltip = document.getElementById('tooltip');
                    tooltip.style.display = 'none';
                }
            ));

            // Mantieni nascosto se le stazioni sono nascoste
            if (!stationVisible) {
                stationSphere.setEnabled(false);
            }

            console.log(`Sfera disegnata - Station MAC: ${stationData.station.stationMac}, Posizione: (${stationSphere.position.x}, ${stationSphere.position.y}, ${stationSphere.position.z})`);
        }

    }

    function debounce(func, wait) {
        let timeout;
        return function(...args) {
            const context = this;
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(context, args), wait);
        };
    }

    // Funzione per aggiornare la lista degli AP trovati nella sidebar
    const updateAPList = debounce(function(frontEndData) {
        const apList = document.getElementById('ap-list');
        apList.innerHTML = ''; // Pulisce la lista attuale

        // Converti l'oggetto wifiDataMap in un array e ordinalo per potenza del segnale (decrescente)
        const sortedEntries = Object.entries(frontEndData.wifiDataMap).sort(([, a], [, b]) => b.highestPower - a.highestPower);

        // Crea la lista ordinata
        for (const [bssid, apData] of sortedEntries) {
            const listItem = document.createElement('li');
            listItem.style.padding = '10px';
            listItem.style.cursor = 'pointer';

            // Controlla se ci sono associatedStations
            let itemName = `${apData.accessPoint.essid || 'Unknown'} (${bssid})`;
            if (Array.isArray(apData.associatedStations) && apData.associatedStations.length > 0) {
                itemName += ' *'; // Aggiungi un asterisco se ci sono stazioni associate
            }

            listItem.textContent = itemName;

            // Imposta il colore di sfondo della riga in base alla potenza del segnale
            if (apData.highestPower >= highPow) {
                listItem.style.backgroundColor = '#90EE90'; //verde chiaro
            } else if (apData.highestPower >= midPow) {
                listItem.style.backgroundColor = 'yellow';
            } else {
                listItem.style.backgroundColor = 'orange';
            }

            listItem.addEventListener('click', function () {
                // Popola i campi della modale con i dati dell'AP
                document.getElementById('apEssid').value = apData.accessPoint.essid || 'N/A';
                document.getElementById('apBssid').value = apData.accessPoint.bssid || 'N/A';
                document.getElementById('apLastSeen').value = apData.accessPoint.lastTimeSeen || 'N/A';
                document.getElementById('apChannel').value = apData.accessPoint.channel || 'N/A';
                document.getElementById('apPrivacy').value = apData.accessPoint.privacy || 'N/A';
                document.getElementById('apCipher').value = apData.accessPoint.cipher || 'N/A';
                document.getElementById('apAuthentication').value = apData.accessPoint.authentication || 'N/A';
                document.getElementById('apPower').value = apData.accessPoint.power || 'N/A';

                // Popola la tabella delle stazioni associate
                const stationTableBody = document.getElementById('stationTableBody');
                stationTableBody.innerHTML = ''; // Pulisce il contenuto precedente

                apData.associatedStations.forEach(station => {
                    const row = document.createElement('tr');

                    row.innerHTML = `
                        <td>${station.stationMac}</td>
                        <td>${station.firstTimeSeen}</td>
                        <td>${station.lastTimeSeen}</td>
                        <td>${station.power} dBm</td>
                        <td>${station.packets}</td>
                        <td>${station.bssid}</td>
                        <td>${station.probedEssids || 'N/A'}</td>
                    `;

                    stationTableBody.appendChild(row);
                });

                // Mostra la modale
                const apModal = new bootstrap.Modal(document.getElementById('apModal'));
                apModal.show();

                // Seleziona e evidenzia la sfera corrispondente
                selectApSphere(bssid);
            });

            apList.appendChild(listItem);
        }
    }, 500);

    // Funzione per aggiornare la lista delle stazioni non associate trovate nella sidebar
    const updateStationList = debounce(function(frontEndData) {
        const stationList = document.getElementById('station-list');
        stationList.innerHTML = ''; // Pulisce la lista attuale

        // Converti l'oggetto notAssociatedStationDataMap in un array e ordinalo per potenza del segnale (decrescente)
        const sortedEntries = Object.entries(frontEndData.notAssociatedStationDataMap).sort(([, a], [, b]) => b.highestPower - a.highestPower);

        // Crea la lista ordinata
        for (const [stationMac, stationData] of sortedEntries) {
            const listItem = document.createElement('li');
            listItem.style.padding = '10px';
            listItem.style.cursor = 'pointer';

            listItem.textContent = `${stationData.station.stationMac} (${stationData.highestPower} dBm)`;

            // Imposta il colore di sfondo della riga in base alla potenza del segnale
            if (stationData.highestPower >= highPow) {
                listItem.style.backgroundColor = '#FF9999'; // rosso chiaro
            } else if (stationData.highestPower >= midPow) {
                listItem.style.backgroundColor = '#FFCC99'; // arancione chiaro
            } else {
                listItem.style.backgroundColor = '#CCCCCC'; // grigio chiaro
            }

            listItem.addEventListener('click', function () {
                // Popola i campi della modale con i dati della stazione non associata
                document.getElementById('stationMac').value = stationData.station.stationMac || 'N/A';
                document.getElementById('stationFirstSeen').value = stationData.station.firstTimeSeen || 'N/A';
                document.getElementById('stationLastSeen').value = stationData.station.lastTimeSeen || 'N/A';
                document.getElementById('stationPower').value = stationData.station.power + ' dBm' || 'N/A';
                document.getElementById('stationPackets').value = stationData.station.packets || 'N/A';
                document.getElementById('stationBssid').value = stationData.station.bssid || 'N/A';
                document.getElementById('stationProbedEssids').value = stationData.station.probedEssids || 'N/A';

                // Mostra la modale
                const stationModal = new bootstrap.Modal(document.getElementById('stationModal'));
                stationModal.show();

                // Seleziona e evidenzia la sfera corrispondente
                selectStationSphere(stationMac);
            });

            stationList.appendChild(listItem);
        }
    }, 500);


    function selectStationSphere(stationMac) {
        // Trova la sfera corrispondente al MAC della stazione selezionata
        const sphere = stationSpheres[stationMac];
        if (sphere) {
            // Posiziona il segnalino sopra la sfera selezionata
            positionMarker(sphere);
            selectedSphere = sphere;
        } else {
            // Se non c'è nessuna sfera corrispondente, disabilita il segnalino
            positionMarker(null);
        }
    }

    function selectApSphere(bssid) {
        // Trova la sfera corrispondente al BSSID selezionato
        const sphere = wifiSpheres[bssid];
        if (sphere) {
            // Posiziona il segnalino sopra la sfera selezionata
            positionMarker(sphere);
            selectedSphere = sphere;
        } else {
            // Se non c'è nessuna sfera corrispondente, disabilita il segnalino
            positionMarker(null);
        }
    }

    function positionMarker(sphere) {
        if (sphere) {
            // Posiziona il segnalino sopra la sfera
            marker.position = sphere.position.clone();
            marker.position.y += 3; // Sposta il segnalino sopra la sfera
            marker.setEnabled(true); // Rendi visibile il segnalino
        } else {
            marker.setEnabled(false); // Nascondi il segnalino se non c'è nessuna sfera selezionata
        }
    }

    function connectWebSocket() {
        const socket = new WebSocket(webSocketEndpoint);

        socket.onmessage = function(event) {
            const dataContainer = document.getElementById('data-container');
            const frontEndData = JSON.parse(event.data);

            dataContainer.innerHTML = JSON.stringify(frontEndData, null, 2);
            updateScene(frontEndData);
            updateAPList(frontEndData); // Aggiorna la lista degli AP nella sidebar
            updateStationList(frontEndData); // Aggiorna la lista delle stazioni non associate
        };

        socket.onclose = function(event) {
            console.log('WebSocket closed, reconnecting...');
            setTimeout(connectWebSocket, 5000);
        };

        socket.onerror = function(error) {
            console.error('WebSocket Error: ', error);
        };
    }

    window.onload = function () {
        init();
        connectWebSocket();
    };

    // Aggiungi un event listener globale per muovere il tooltip insieme al mouse
    document.addEventListener('mousemove', function (event) {
        const tooltip = document.getElementById('tooltip');
        if (tooltip.style.display === 'block') {
            tooltip.style.left = (event.clientX + 10) + 'px';
            tooltip.style.top = (event.clientY + 10) + 'px';
        }
    });

    document.getElementById('toggle-sidebar-ap').addEventListener('click', function () {
        toggleSidebar('ap');
    });

    document.getElementById('toggle-sidebar-station').addEventListener('click', function () {
        toggleSidebar('station');
    });

    function toggleSidebar(type) {
        const sidebarAP = document.getElementById('sidebar-ap');
        const sidebarStation = document.getElementById('sidebar-station');
        const toggleButtonAP = document.getElementById('toggle-sidebar-ap');
        const toggleButtonStation = document.getElementById('toggle-sidebar-station');

        if (type === 'ap') {
            if (sidebarAP.style.display === 'none') {
                sidebarAP.style.display = 'block';
                sidebarStation.style.display = 'none';
                toggleButtonAP.textContent = 'Hide AP List';
                toggleButtonAP.classList.add('btn-primary');
                toggleButtonAP.classList.remove('btn-secondary');
                toggleButtonStation.textContent = 'Show Stations List';
                toggleButtonStation.classList.add('btn-secondary');
                toggleButtonStation.classList.remove('btn-warning');
            } else {
                sidebarAP.style.display = 'none';
                toggleButtonAP.textContent = 'Show AP List';
                toggleButtonAP.classList.add('btn-secondary');
                toggleButtonAP.classList.remove('btn-primary');
            }
        } else if (type === 'station') {
            if (sidebarStation.style.display === 'none') {
                sidebarStation.style.display = 'block';
                sidebarAP.style.display = 'none';
                toggleButtonStation.textContent = 'Hide Stations List';
                toggleButtonStation.classList.add('btn-warning');
                toggleButtonStation.classList.remove('btn-secondary');
                toggleButtonAP.textContent = 'Show AP List';
                toggleButtonAP.classList.add('btn-secondary');
                toggleButtonAP.classList.remove('btn-primary');
            } else {
                sidebarStation.style.display = 'none';
                toggleButtonStation.textContent = 'Show Stations List';
                toggleButtonStation.classList.add('btn-secondary');
                toggleButtonStation.classList.remove('btn-warning');
            }
        }
    }


    document.getElementById('hide-ap').addEventListener('click', function() {
        apVisible = !apVisible;  // Cambia lo stato di visibilità
        toggleVisibility(apVisible, wifiSpheres);  // Passa lo stato corrente e le sfere degli AP

        // Aggiorna il testo e il colore del bottone in base allo stato di visibilità
        this.textContent = apVisible ? 'Hide APs' : 'Show APs';
        this.classList.toggle('btn-success', apVisible);  // Colore verde quando attivo
        this.classList.toggle('btn-secondary', !apVisible);  // Colore grigio quando disattivo
    });

    document.getElementById('hide-station').addEventListener('click', function() {
        stationVisible = !stationVisible;  // Cambia lo stato di visibilità
        toggleVisibility(stationVisible, stationSpheres);  // Passa lo stato corrente e le sfere delle stations

        // Aggiorna il testo e il colore del bottone in base allo stato di visibilità
        this.textContent = stationVisible ? 'Hide Stations' : 'Show Stations';
        this.classList.toggle('btn-success', stationVisible);  // Colore verde quando attivo
        this.classList.toggle('btn-secondary', !stationVisible);  // Colore grigio quando disattivo
    });


    function toggleVisibility(visible, spheres) {
        for (let key in spheres) {
            if (spheres.hasOwnProperty(key)) {
                spheres[key].setEnabled(visible);  // Mostra o nasconde la sfera
            }
        }
    }

</script>
</body>
</html>
